<%- include('../partials/header') %>

<h1><%= title %></h1>

<ul>
  <% albums.forEach((album) => { %>
    <li>
      <strong><%= album.title %></strong>
      (<%= album.releaseYear %>)
    </li>
  <% }); %>
</ul>
<%- include('../partials/footer') %>