<%- include('../partials/header') %>

<section>
  <h2>User Profile - <%= user.name %></h2>
  <h3>Liked Songs</h3>
  <%= user.likedSongs %>
  <% if (user.likedSongs.length) { %>
      <% user.likedSongs.forEach((song) => { %>
        <tr>
          <td><%= song.name %></td>
        </tr>
      <% }); %>
  <% } else { %>
    <p>No liked songs yet.</p>
  <% } %>
</section>

<%- include('../partials/footer') %>
