<%- include('../partials/header') %>

<form action="/posts"  method="POST">
<input type="text" name="poster" >
<button type="submit">POST</button>
</form>



<% posts.forEach(post => { %> 

<div> <%= post.poster %>
 <img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %>

 <%= (post.createdAt) %>
      <% if (user?._id.equals(post.user)) { %>

    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <button type="submit">X</button>
      </form>
    <a href="/posts/<%= post._id %>/edit">EDIT</a>
  
    <% } %>
    <form action="/posts/<%= post._id %>/like" method="POST">
      <button type="submit">Like</button>
      </form><%= post.like.length %>


      <% post.comment.forEach(c => { %> 
        <%= c.comment %>
        <%= c.createdAt.toLocaleDateString() %>
        
 <img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer" ><%= c.userName %>
      
        
        
      <% }) %>

      <form action="/posts/<%= post._id %>/comments" method="POST">
      <input type="text" name="comment">
      <button type="submit">send</button>
      </form>
</div>
 
  <% }) %>

  
<%- include('../partials/footer') %>
