<%- include('../partials/header') %>

<form action="/posts"  method="POST">
<input type="text" name="poster" >
<button type="submit">POST</button>
</form>



<% posts.forEach(post => { %> 

<div> <%= post.poster %>
 <img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer" ><%= post.userName %>

      <%= post.createdAt.toLocaleDateString() %>
  <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
    <button type="submit">X</button>
    </form>
</div>
 
  <% }) %>

  
<%- include('../partials/footer') %>
